/*_variables*/

$font-family: "Mulish", sans-serif;
$body-font-size: 14;
$line-height: normal;
$font-weight: 400;

$max-width-container: 1100;
$min-width: 320;
$padd-container: 20;

// Background color
$mainBackground: #292929;
$headerBackground: #333333;

// Content color
$mainColorText: #000000;

// Form
$bgFormInput: #292929;
$colorFormInput: #828282;
$colorFormInputPlaceholder: #828282;
$bgFormItemFocus: rgba(0, 0, 0, 0.3);
$borderColorError: #ff55a7;

$gray1: #333333;
$gray2: #4F4F4F;
$gray3: #828282;
$gray4: #BDBDBD;
$gray5: #e0e0e0;
$gray6: #f2f2f2;

$colorAccente1: #ff55a7;

$iconHover: #ff55a7;
$hoverText: #ff55a7;

$borderColorGray1: #333333;

// text/title color
$colotTitleE9: #e9e9e9;
$colorAccent02: #5D91E0;